@import './style/_variable.css';

body {
  background-color: var(--bg-body);
}

/* Block */
.flex {
  display: flex;
}

/* --Modifier */
.flex--topped {
  margin-top: 4rem;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--grow {
  flex-grow: 1;
}

.flex--row {
  flex-direction: row;
}

.flex--col {
  flex-direction: column;
}

.flex--rgap {
  margin-right: 20rem;
}

.flex--tgap {
  margin-top: 80px;
}

/* Block */
.topbar {
  background-color: var(--bg-topbar);
  color: #fff;
  padding: 1rem;
  box-shadow: 0 0 5px #000000;
}

/* __Element */
.topbar__brand {
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  text-shadow: 0px 0px 3px #000;
}

.tobar__brand__logo {
  width: 2rem;
  margin-right: 0.5rem;
}

/* --Modifier */
.topbar--sticky {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

/* Block */
.asidebar {
  background: rgba(0, 0, 0, 0.2);
  height: calc(100vh - 65px);
  width: 20rem;
  flex: 0 0 20rem;
  box-shadow: inset 0px 0px 1px #000;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 65px;
}

/* Block */
.intractive {
  width: 14rem;
  flex-wrap: wrap;
  text-decoration: none;
  color: #fff;
  transition: transform 0.5s ease;
}

.intractive:hover {
  transform: scale(1.05);
}

/* Block */
.figure {
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

/* __Element */
.figure__image {
  height: 10rem;
  align-self: center;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

/* __Element */
.figure__caption {
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.figure__caption:hover {
  text-overflow: unset;
  white-space: normal;
  overflow: visible;
}

/* --Modifier */
.figure--lg {
  width: 20rem;
}

.figure--lg .figure__image {
  height: calc(100vh - 150px);
}

/* Block */
.form {
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1rem;
  background-color: #1F2125;
}

/* __Element */
.form__fieldset {
  margin-bottom: 1rem;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  background-color: #2e3035;
  padding: 1rem 2rem;
}

.form__fieldset__legend {
  padding: 5px;
  background: #25262a;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 100px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

/* Block */
.radiopill {
  display: inline-block;
  width: calc(100% / 2 - 0.5rem);
  padding: 0.15rem;
}

/* Block */
.article {
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

/* __Element */
.article__title {
  border-bottom: 1px solid;
}

/* Block */
.media {
  margin-bottom: 0.05rem;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2e3035;
  padding: 0.5rem 1rem;
}

/* __Element */